---
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  technologies: { category: string; items: { name: string; icon: string }[] }[];
  area: string;
}

const { title, description, technologies, area } = Astro.props;
const displayMoreContent = () => {};
---

<article
  role="button"
  class={cn(
    "border border-border bg-gradient p-5 md:px-6 md:py:py-7 lg:px-9 lg:py-11 rounded-sm",
    area,
  )}
>
  <h2 class="title font-semibold capitalize">{title}</h2>
  <p class="text-base mt-2 capitalize">{description}</p>
  <section class="flex gap-5 mt-8">
    {
      technologies.map(({ category, items }) => (
        <div>
          <h3 class="font-medium capitalize">{category}</h3>
          <div class="flex flex-wrap gap-2 gap-y-3 mt-2">
            {items.map(({ name, icon }) => (
              <Icon
                class="w-8 h-8 md:w-9 md:h-9 lg:w-12 lg:h-12"
                aria-label={name}
                name={icon}
              />
            ))}
          </div>
        </div>
      ))
    }
  </section>
</article>
