---
import BentoCard from "./BentoCard.astro";

const createTechnologies = (itemsCount: number[]) => {
  return Array.from({ length: itemsCount.length }, (_, i) => ({
    category: "fronted",
    items: Array.from({ length: itemsCount[i] }, () => ({
      name: "NextJS",
      icon: "tech-icons",
    })),
  }));
};

// remember the notatios of grid-area: (row-start / col-start   /   row-end / col-end)
const areas = {
  primary:
    "[grid-area:_1_/_1_/_2_/_3] md:[grid-area:_1_/_1_/_3_/_3] lg:[grid-area:_1_/_1_/_3_/_3]",
  secondary:
    "[grid-area:_2_/_1_/_3_/_3] md:[grid-area:_4_/_1_/_5_/_4] lg:[grid-area:_1_/_3_/_2_/_5]",
  tertiary:
    "[grid-area:_3_/_1_/_4_/_2] md:[grid-area:_1_/_3_/_2_/_4] lg:[grid-area:_2_/_3_/_3_/_4]",
  quaternary:
    "[grid-area:_3_/_2_/_4_/_3] md:[grid-area:_2_/_3_/_3_/_4] lg:[grid-area:_2_/_4_/_3_/_5]",
};

//to do: how can i tell tailwing that a and b is an area
const combineArea = (a: string, b: string, screen?: "md" | "lg") => {
  const mediaQuery = screen ? `${screen}:` : "";
  const regex = new RegExp(
    `${mediaQuery}\\[grid-area:_(\\d_\\/_\\d_\\/_\\d_\\/_\\d)\\]`,
    "i",
  );
  const aMatch = a.match(regex);
  const start = aMatch ? aMatch[1].split("_/_").slice(0, 2) : [];
  if (start.length === 0) return console.log("no matches of A in combineArea");

  const bMatch = b.match(regex);
  const end = bMatch ? bMatch[1].split("_/_").slice(2) : [];
  if (end.length === 0) return console.log("no matches of B in combineArea");

  return `${mediaQuery}[grid-area:_${start[0]}_/_${start[1]}_/_${end[0]}_/_${end[1]}]`;
};

//w-full h-full bg-green-700 [grid-area:_1_/_1_/_2_/_3] md:[grid-area:_1_/_1_/_3_/_4] lg:[grid-area:_1_/_3_/_3_/_5]

const classNameDiv = `w-full h-full bg-green-700 ${combineArea(areas.primary, areas.primary)} ${combineArea(areas.primary, areas.quaternary, "md")} ${combineArea(areas.secondary, areas.quaternary, "lg")}`;
---

<div class="grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  <BentoCard
    technologies={createTechnologies([6, 6])}
    area={areas.primary}
    title="Digital Hippo"
    description="A Ecommerce website to Buy and Sell digital assets"
  />
  <BentoCard
    technologies={createTechnologies([6, 6, 2])}
    area={areas.secondary}
    title="Digital Hippo"
    description="A Ecommerce website to Buy and Sell digital assets"
  />
  <BentoCard
    technologies={createTechnologies([3])}
    area={areas.tertiary}
    title="Digital Hippo"
    description="A Ecommerce website to Buy and Sell digital assets"
  />
  <BentoCard
    technologies={createTechnologies([3])}
    area={areas.quaternary}
    title="Digital Hippo"
    description="A Ecommerce website to Buy and Sell digital assets"
  />
  <div class={classNameDiv}>
    <h2>content</h2>
  </div>
</div>
