---
import { Button, buttonVariants } from "@/components/ui/button";
import {textStyles} from "@/components/Text"
import BaseLayout from "./BaseLayout.astro";
import type { MarkdownLayoutProps } from 'astro';
import { ArrowLeft } from "lucide-react";
import { cn } from "@/lib/utils";
import { Badge } from "@/components/ui/badge";

type Props = MarkdownLayoutProps<{
  title: string
  publishDate: string
  tags: string[]
  code: string
  demo: string
}>

const {frontmatter, headings} = Astro.props
const {title, publishDate, tags, code, demo} = frontmatter
const formattedDate = (new Date(publishDate)).toLocaleDateString('es-ES', {year: "numeric", month: "long", day:"numeric"})
---

<BaseLayout>
  <aside class="fixed right-[5%] top-1/2 -translate-y-1/2 prose prose-invert prose-a:text-accent">
    <h2>Contenido</h2>
    <ol>
      {[{slug: "title", text: "Descripción"},...headings].map(({slug, text}) => (
        <li>
          <a href={`#${slug}`}> {text}</a>
        </li>
      ))}
    </ol>
  </aside>
  <div class="prose prose-invert prose-a:text-accent ml-[44%] -translate-x-1/2 my-8">
    <header class="flex flex-col gap-3 items-start" >
      <a href="/" class={cn("not-prose", buttonVariants({variant: "link"}), "px-0") }>
        <ArrowLeft className="w-4 h-4 mr-1"/> Volver
      </a>
      <time class={cn("not-prose", textStyles({ type: "eyebrow" }))}>
        {formattedDate}
      </time>
      <h1 id="title" class="m-0 mb-2">{title}</h1>
      <div class="flex gap-2">
        {tags.map((tag)=>{
          return <Badge>{tag}</Badge>
        })}
      </div>
    </header>
    <br>
    <main class="pb-6">
      <slot/>
      <hr/>
      <div class="mt-auto flex gap-2 not-prose">
        <a target="_blank" class={cn(buttonVariants({ variant: "default" }), "flex-grow")} href={demo}>
          Vistiar
        </a>
        <a target="_blank" class={cn(buttonVariants({ variant: "outline" }), "flex-grow")} href={code}>
          Código
        </a>
      </div>
    </main>
  </div>
 
</BaseLayout>