---
import { Button, buttonVariants } from "@/components/ui/button";
import {textStyles} from "@/components/Text"
import BaseLayout from "./BaseLayout.astro";
import type { MarkdownLayoutProps } from 'astro';
import { ArrowLeft } from "lucide-react";
import { cn } from "@/lib/utils";
import { Badge } from "@/components/ui/badge";

type Props = MarkdownLayoutProps<{
  title: string
  publishDate: string
  tags: string[]
  code: string
  demo: string
}>

const {frontmatter, headings} = Astro.props
const {title, publishDate, tags, code, demo} = frontmatter
const formattedDate = (new Date(publishDate)).toLocaleDateString('es-ES', {year: "numeric", month: "long", day:"numeric"})
---

<BaseLayout>
  <div class="grid w-screen grid-cols-[minmax(1rem,1fr)_auto_minmax(1rem,1fr)] md:grid-cols-[minmax(1rem,1fr)_auto_auto_minmax(1rem,1fr)] gap-4">
    <header class="flex flex-col gap-3 items-start col-start-2 prose prose-invert prose-a:text-accent" >
      <a href="/" class={cn("not-prose", buttonVariants({variant: "link"}), "px-0") }>
        <ArrowLeft className="w-4 h-4 mr-1"/> Volver
      </a>
      <time class={cn("not-prose", textStyles({ type: "eyebrow" }))}>
        {formattedDate}
      </time>
      <h1 id="title" class="m-0 mb-2">{title}</h1>
      <div class="not-prose flex flex-wrap gap-2">
        {tags.map((tag)=>{
          return <Badge>{tag}</Badge>
        })}
      </div>
    </header>
    <aside class="col-start-2 prose prose-invert prose-a:text-accent md:col-start-3 md:row-start-2 md:sticky md:top-6 md:self-start">
      <h2>Contenido</h2>
      <ol>
        {[{slug: "title", text: "Descripción"},...headings].map(({slug, text}) => (
          <li>
            <a href={`#${slug}`}> {text}</a>
          </li>
        ))}
      </ol>
    </aside>
    <main class="pb-6 col-start-2 prose prose-invert prose-a:text-accent mt-3">
      <slot/>
      <hr/>
      <div class="mt-auto flex gap-2 not-prose">
        <a target="_blank" class={cn(buttonVariants({ variant: "default" }), "flex-grow")} href={demo}>
          Vistiar
        </a>
        <a target="_blank" class={cn(buttonVariants({ variant: "outline" }), "flex-grow")} href={code}>
          Código
        </a>
      </div>
    </main>    
  </div>
 
</BaseLayout>